/* General Elements */

body {
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
}

footer, nav, section {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr ));
}

footer {
  margin: 5rem;
  text-align: center;
}

footer ul a {
  display: block;
  margin-right: 3rem;
  line-height: 1.5rem;
}

nav ul {
  display: block;
  margin: 0 auto;
}

section {
  margin: 0 auto;
  max-width: 1024px;
}

/* IDs */

@import './assets/partials/maps';

@import './assets/partials/accepted-payments';

#img-slides {
  height: 160px;
  max-height: 160px;
  width: 960px;
  max-width: 960px;
}

/* Classes */

@import './assets/partials/articles';

.block-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@import './assets/partials/category-sections';

.copyright {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.copyright h5 {
  margin-bottom: 5rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #222;
  display: inline-block;
}

.logo-container {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

.logo-container img {
  height: 85px;
  max-height: 100%;
  width: 200px;
  max-width: 100%;
}

.shirt {
  height: auto;
  max-width: 100%;
}

.social-icons i {
  font-size: 1.5rem;
  margin: auto 0.5rem;
}

@import './assets/partials/uppermost-section';

@import './assets/partials/media-queries';
