#accepted-payments {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#accepted-payments h4 {
  margin: 1rem auto;
}

#accepted-payments img {
  display: inline-block;
  margin-bottom: 1rem;
  height: 24px !important;
  width: 38px !important;
}
